<div class="row">
  <% @posts.each do |post| %>
    <div class="card container col-lg-3 col-md-5 col-sm-10">
      <div class="post-title">
        <h4><%= post.title %></h4>
      </div>
      <div class="post-body"
        <p><%= post.body %></p>
      </div>
      <%= link_to "#{post.comments.count} comment#{'s' if post.comments.count > 1}", post_path(post.id), class: "comments-link" %>
    </div>
  <% end %>
</div>
